@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  font-family: 'Inter', sans-serif;
}

.herosection-bg {
  background-image: url("./assets/image/herosection.png");
  background-position: right calc(0% - 100px) center;
  background-repeat: no-repeat;
  background-size: cover;
}


.detail-section {
  background-image: url("./assets/image/detailimage1.png"), url("./assets/image/detailimage2.png");
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-size: 50% 100%, 50% 100%;
}

.contact-section {
  background: linear-gradient(to right, #D0AA87 30%, transparent 70%),
    url("./assets/image/contactimage.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

.input-shadow {
  box-shadow: 5px 5px 0px 0px rgba(167, 139, 114, 0.48);
  -webkit-box-shadow: 5px 5px 0px 0px rgba(167, 139, 114, 0.48);
  -moz-box-shadow: 5px 5px 0px 0px rgba(167, 139, 114, 0.48);
}

.nav-links.active {
  font-weight: 500;
}